@{
    ViewData["Title"] = "Faça seu pedido";
}

<div class="text-center">
    <h1 class="display-4">Envie a foto do seu pedido para iniciar a produção (Speech)</h1>
    
    <form asp-controller="Order" asp-action="CreateSpeech" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="audioFile">Escolha a audio:</label>
            <input type="file" name="audioFile" id="audioFile" class="form-control" accept="audio/*" />
        </div>
        <button type="submit" class="btn btn-primary">Fazer Pedido</button>
    </form>
    
    @if (ViewBag.Message != null)
    {
        <div class="alert alert-success">
            @Html.Raw(ViewBag.Message)
        </div>
    }
</div>