@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Lista de médicos com registro suspenso</h1>
    <p><a id="lnk_pdf_list" href="~/files/medicos_suspensos.pdf" download>Clique aqui para baixar a lista.</a></p>
</div>
